<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>系统消息</title>
    <link rel="stylesheet" type="text/css" href="../../static/pc/css/gray.css" />
    <link rel="Bookmark" type="image/x-icon" href="../../static/mobile/images/favicon57.ico"/>
    <link rel="icon" type="image/x-icon" href="../../static/mobile/images/favicon57.ico"/>
</head>
<body>
<!-- 中间选择游戏部分 -->
<div class="GameBoxall SubGamePlatePadding">
    <div class="Gamepart">
        <div class="subTopBar">
            <div class="SubTit">
                <h3>系统消息</h3>
            </div>
            <div class="crumbs"></div>
        </div>
        <div class="clear"></div>
        <div class="sub_public">
            <!-- 系统消息样式 -->
            <div class="sub_ContBox_NoNav" >
                <div class="MsgBoxCont">
                    <dl>
                        <dt class="Sigh"></dt><!-- 感叹号图标样式用“Sigh”，勾勾图标用“Ok” -->
                        <dd>{$message}</dd>
                        <dd>
                            <!--<input type="button" value="关闭" onclick="" class="btnStyle4" />-->
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
