.scrollWrapper{
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 280px;
    width: auto;
    display: none;
}
.scrollWrapper iframe{
    width: 100%;
    height:280px;
}
.btn-chart i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../css/pic/t01017d298c164b6f28.png) no-repeat;
}
.pop-box3{
    display: none;
    width: 76px;
    position: fixed;
    top: 53px;
    right: 1px;
    margin-left: -152px;
    background: #f6f6f3;
    border-radius: 5px;
    z-index: 10;
    padding: 0 8px 8px;
    border: 2px solid #d4d7d7;
}
.pop-box3 a{
    text-decoration: none;

}
.pop-box3 a:hover{
    text-decoration:none;
    outline:none;
}

.pop-box3 a:focus{
    text-decoration:none;
    outline:none;
}

:focus{
    outline:0;
}
.pop-box2-bar {
    display: inline-block;
    font-size: 0;
    width: 0;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #d4d7d7 transparent;
    position: absolute;
    top: -14px;
    left: 73%;
    margin-left: -7px;
}
.btn-pop {
    display: block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #f6f6f3;
    border-radius: 2px;
    background: #cd1b02;
    overflow: hidden;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}
.btn-qgkj {
    width: 70px;
    text-decoration: none;
    font-weight: normal;
    float: left;
    line-height: 32px;
}
.btn-qgkj span {
    position: absolute;
    width: 13px;
    overflow: hidden;
    display: block;
    top: 2px;
    left: -12px;
}
.btn2 {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cd1b02;
    border-radius: 4px;
    text-align: center;
    background: #cd1b02;
    float: left;
    text-decoration: none;
    font-size: 14px;
}
.btn3 {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    border: 1px solid #d4d7d7;
    border-radius: 4px;
    text-align: center;
    background: #d7d7d6;
    float: left;
    text-decoration: none;
    font-size: 14px;
}
.red {
    color: #fff;
}
#popLayer{
    position: absolute;
    display:none;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:2221;
    background:transparent;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
#selectLayer{
    position: absolute;
    display:none;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:2221;
    background:transparent;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
.hl-draw-main-container{-webkit-overflow-scrolling:touch;}
.lvlup{
    padding-right: 30px;
    line-height: 1.15;
    display: inline-block;
}
.hl-order-confirm-setting-left {
    float: right;
    padding-right: 25px;
}
/**
去a标签
 */
.create_trace_a{
    text-decoration: none;
}
