<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->
<title>追号订单详情 </title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<!--/_menu 作为公共模版分离出去-->
<article class="cl pd-20">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		追号订单编号：<b>
		{php}
		if(is_numeric($list['ffc_id'])){

		echo orderWrapId($list['ffc_id'],$list['t_start_issue'],$list['t_lid']);
		}else{

		}
		{/php}
	</b>
	</div>
	<table class="table table-border table-bordered  ">
		<thead>
		<tr >
			<th width="50">投注用户：</th>
			<td width="90">{$list.t_username}</td>
			<th width="50">游戏：</th>
			<td width="90">
				{switch name="list.t_lid" }
				{case value="2"}重庆时时彩{/case}
				{case value="8"}新疆时时彩{/case}
				{case value="14"}天津时时彩{/case}
				{case value="30"}湖北快三{/case}
				{case value="9"}江苏快三{/case}
				{case value="24"}广东11选5{/case}
				{case value="26"}山东11选5{/case}
				{case value="27"}江西11选5{/case}
				{case value="28"}福彩3D{/case}
				{case value="29"}排列三/五{/case}
				{case value="6"}PK拾{/case}
				{default /}
				{/switch}&nbsp;&nbsp;第{$list.t_start_issue}期开始
			</td>
		</tr>

		<tr>
			<th >单倍注数：</th>
			<td>{$list.t_single_num}</td>
			<th>追号总倍数：</th>
			<td>{$list.t_total_multiple}</td>
		</tr>
		<tr>
			<th>计划追号期数：</th>
			<td>{$list.t_trace_times}</td>
			<th>计划总金额：</td>
			<td>{$list.t_total_amount}</td>
		</tr>
		<tr>
			<th>完成期数：</th>
			<td>{$list.t_finish_times}</td>
			<th>取消期数：</td>
			<td>{$list.t_cancel_times}</td>
		</tr>

		<tr>
			<th>奖金盘口：</th>
			<td>{$list.t_pan}</td>
			<th>模式：</td>

			{eq name="$list.t_modes" value="1"}<td>2元模式</td>{/eq}
			{eq name="$list.t_modes" value="0.5"}<td>1元模式</td>{/eq}
			{eq name="$list.t_modes" value="0.1"}<td>2角模式</td>{/eq}
			{eq name="$list.t_modes" value="0.05"}<td>1角模式</td>{/eq}
			{eq name="$list.t_modes" value="0.01"}<td>2分模式</td>{/eq}
			{eq name="$list.t_modes" value="0.005"}<td>1分模式</td>{/eq}
		</tr>
		<tr>
			<th>中奖即停止：</th>
			{eq name="$list.t_stop_on_win" value="1"}<td>是</td>{/eq}
			{eq name="$list.t_stop_on_win" value="0"}<td>否</td>{/eq}
			{eq name="$list.t_stop_on_win" value="2"}<td>出号撤单</td>{/eq}
			<th>追号时间：</td>
			<td>{$list.t_add_time}</td>
		</tr>
		<tr>
			<th>追号状态：</th>
			{eq name="$list.t_status" value="0"}<td>未开始</td>{/eq}
			{eq name="$list.t_status" value="1"}<td>正在进行</td>{/eq}
			{eq name="$list.t_status" value="2"}<td>已完成</td>{/eq}
			{eq name="$list.t_status" value="3"}<td>已取消</td>{/eq}
			<th>是否锁定：</th>
			{eq name="$list.t_is_locked" value="0"}<td>未锁</td>{/eq}
			{eq name="$list.t_is_locked" value="1"}<td>已锁</td>{/eq}
		</tr>
	</table>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		订单明细
	</div>
	<table class="table table-border table-bordered  ">
		<thead>
		<tr class="text-c">
			<th width="90">玩法名称</th>
			<th width="90">投注号码</th>
			<th width="90">当前注数</th>
		</tr>


		{volist name='list.cname' id='vo' }
		<tr class="text-c">
			<td>{$vo.m_cname}</td>
			<td>{$vo.code}</td>
			<td>{$vo.zushu}</td>
		</tr>
		{/volist}



	</table>

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		各期追号详情
	</div>
	<table class="table table-border table-bordered  ">
		<thead>
		<tr class="text-c">
			<th width="90">追号期号</th>
			<th width="90">当前注数</th>
			<th width="90">当前倍数</th>
			<th width="90">当前模式</th>
			<th width="90">投注金额</th>
			<th width="90">中奖金额</th>
			<th width="90">开奖号码</th>
			<th width="90">订单状态</th>
			<th width="90">派奖状态</th>
		</tr>
		{volist name='text' id='vo'}
		<tr class="text-c">
			<td>{$vo.o_issue}</td>
			<td>{$vo.o_single_num}</td>
			<td>{$vo.o_multiple}</td>
			{eq name="$vo.o_modes" value="1"}<td>2元模式</td>{/eq}
			{eq name="$vo.o_modes" value="0.5"}<td>1元模式</td>{/eq}
			{eq name="$vo.o_modes" value="0.1"}<td>2角模式</td>{/eq}
			{eq name="$vo.o_modes" value="0.05"}<td>1角模式</td>{/eq}
			{eq name="$vo.o_modes" value="0.01"}<td>2分模式</td>{/eq}
			{eq name="$vo.o_modes" value="0.005"}<td>1分模式</td>{/eq}
			<td>{$vo.o_amount}</td>
			<td>{$vo.o_wins}</td>
			<td>{$vo.ds_balls}</td>
			<td>
				{eq name="$vo.o_is_cancel" value="0"}未撤单{/eq}
				{eq name="$vo.o_is_cancel" value="1"}用户撤单{/eq}
				{eq name="$vo.o_is_cancel" value="2"}追中撤单{/eq}
				{eq name="$vo.o_is_cancel" value="3"}出号撤单{/eq}
				{eq name="$vo.o_is_cancel" value="4"}未开撤单{/eq}
				{eq name="$vo.o_is_cancel" value="9"}管理员撤单{/eq}
				{eq name="$vo.o_is_cancel" value="5"}追中撤单{/eq}
			</td>
			{eq name="$vo.o_is_pay" value="0"}<td>未派奖</td>{/eq}
			{eq name="$vo.o_is_pay" value="1"}<td>已派奖</td>{/eq}
		</tr>
		{/volist}
	</table>
	<br>
	<br>

	</thead>
</article><tbody>
<!--_footer作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $("#form-member-add").validate({
            rules:{
                f_lock_limit:{
                    required:true,
                    minlength:6,
                    number:true,
                    min:10,
                    //maxlength:8,
                    digits:true
                },
            },
            onkeyup:true,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    "type":"post",
                    "url":"{:url('lottery/addLocks')}",
                    "success":function(res,status){
                        if(res){
                            layer.msg('修改成功!',{icon:1,time:2000});
                            setTimeout(function(){
                                location.replace(location.href);
                            },1000);
                        }else{
                            layer.msg('修改失败!',{icon:2,time:2000});
                        }
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>