ul{padding: 0;}
li{    display: list-item;  list-style: none;}
.BSrecordsBox {height: 100%; margin: 0 auto; overflow: hidden; width: 898px;  }
.BSrecordsBox .recordsInput {width:100%; text-align:center; background: #000;}
.recordsInput {}
.BSrecordsBox .recordsInput li { font-weight: bold;  letter-spacing: 1px; line-height: 40px; overflow: hidden; text-align: center;  width: 100%; }
.recordsInput li { margin: 2px; }
.yellow_14px { color: #fff;  font-size: 14px;  }
.orderDetxinxi { background:#d9d9d9; border-bottom: 1px solid #a9b7d7; font-size: 12px; margin: 0 auto; padding-bottom: 15px; width: 100%; }
.orderDetxinxi p {border-bottom: 1px solid #a9b7d7; color: #000; font-size: 14px; font-weight: bold; height: 42px; line-height: 46px; margin: 0px auto 10px auto; overflow: hidden; text-align: center; width: 100%; }
.orderDetxinxi ul { margin:0px auto; overflow: hidden; padding: 0; width: 80%; color: #000; }
.orderDetxinxiBg1, .orderDetxinxiBg2 { color: #3B8FB2; clear:both; margin-top:10px;}
.orderDetxinxiBg1  span{ color:#000}
.orderDetxinxiBg2  span{ color:#000}
.orderDetxinxi ul li { color: #000; line-height: 25px; height:25px; font-size:14px; text-align: left; }
.orderDetxinxi ul li { float: left; text-align: left !important; width:50%; }
.orderDetxiangxTitle { background: #000;color: #fff; font-weight: bold; height: 50px; letter-spacing: 1px; line-height: 50px; overflow: hidden; text-align: left; width: 100%; text-align:center; font-size:14px;}
.todayDetxiangxCont1, .orderDetxiangxCont1, .orderDetxiangxCont3 { background:#d9d9d9; overflow: hidden;width:100%; height:30px; line-height:30px; font-size:14px; }
.todayDetxiangxCont3 li, .todayDetxiangxCont2 li, .todayDetxiangxCont1 li, .orderDetxiangxCont2 li, .orderDetxiangxCont1 li { float: none; line-height: 25px; margin: 0 auto;padding: 0; width: 100%; clear:both;}
.orderDetxiangxCont2 li{ line-height:22px;font-size: 12px; border-bottom: 1px solid #D9D9D9;  }
.orderDetxiangxCont2 li:hover{background: #D9D9D9;  }
.orderDetxiangxCont5 li{ line-height:22px;font-size: 12px; border-bottom: 1px solid #D9D9D9; overflow: hidden;  }
.orderDetxiangxCont5 li:hover{background: #D9D9D9; }
.orderDetxiangxCont5 li span,.orderDetxiangxCont2 li span, .orderDetxiangxCont1 li span { color: #000000; display: block; float: left; overflow: hidden; text-align: center; width: 14%; word-break: normal; word-wrap: break-word;}
.order-first .orderDetxiangxCont2 li span,.order-first .orderDetxiangxCont1 li span{ width: 20%;}
.order-first .orderDetxiangxCont5 li span,.order-first .orderDetxiangxCont1 li span{ width: 50%;}
.orderDetxiangxCont2 { width: auto; overflow:hidden;}
.orderDetxiangxCont2-center { margin: 0 auto; text-align: center; width: 185px; }
.orderDetxiangxCont2-center input { margin: 20px 0 10px 20px;  }
.gl_button, .btnOne, .nextPage input { width:88px; height:26px; border: medium none; border-radius: 4px; color: #000; cursor: pointer; text-align: center; text-indent: 0;}
