@charset "utf-8";
.color_bg1{ background:#add8f8;}
.color_bg2{ background:#c8e8ff;}
.color_bg3{ background:#f4faff;}
.hong_zi{ color:#fc2731;}
.sp_main{ width:1050px; margin:0 auto; overflow:hidden; font-family:"微软雅黑"; line-height:20px;margin-left: -25px;}
.sp_main a{ text-decoration:none;}
.sp_main p{ margin:0; padding:0;}
.sp_main input{ margin:0; outline:none; padding:0; font-size:12px; font-family:"微软雅黑";}
.sp_type{ width:100%; overflow:hidden; padding:15px 0;}
.sp_type a{ float:left; font-size:14px; color:#0562a0; padding:0 10px; margin:0 7px; _display:inline; line-height:24px;}
.sp_type a:hover,.sp_type a.bg{ color:#fff; background:#eb6067; text-decoration:none; border-radius:4px;}
.type_ws{ float:left; margin-top:20px; line-height:24px; color:#505050; font-size:14px;}
.type_ws span{ background:url(../images/blue/color1/al_bg.png) no-repeat; line-height:24px; width:62px; float:left; color:#2a669c; text-align:center; overflow:hidden; margin-left:15px; margin-right:8px;}
.type_ws input[type=radio]{ vertical-align:middle; width:26px; height:18px;}
.bw{ margin-left:20px;}
/*选项卡*/
.cp_tab{ width:98%; overflow:hidden; margin:4px auto 0; list-style-type:none;}
.cp_tab li{ width:170px; height:37px; line-height:37px; text-align:center; float:left; font-size:14px;}
.cp_tab li a{ display:block; color:#eb6067; background: url(../images/blue/color1/tab_ico.jpg) no-repeat right center;}
.cp_tab li a.no{ background:none;}
.cp_tab li a:hover{ text-decoration: none;}
.cp_tab li.current a{ color:#fff; background:url(../images/blue/color1/tab_bg.jpg) #eb6067 no-repeat center top;}
/*表格*/
.table_list{ border-bottom:#cbeaff 1px solid; border-top:#93c8ee 1px solid; font-size:13px; color:#505050;}
.table_list .bt td{ border-bottom:#93caf2 1px solid; height:34px; color:#1b5a93; font-size:14px; padding:0;}
.table_list td{ padding:6px 0;}
.table_list td input{ width:42px; font-size:13px; height:16px; border:#aeaeae 1px solid; background:#fff; text-align:center;}
.table_list2{ border-left:#b8daf5 1px solid; border-top:#b8daf5 1px solid; margin-top:15px;}
.table_list2 td{ border-right:#b8daf5 1px solid; border-bottom:#b8daf5 1px solid; font-size:14px; color:#1b5a93; padding:4px 0;}
.table_list2 td a{ background:#d7ebfa; padding:0 11px; margin:0 1px; color:#1b5a93;}
/*按钮*/
.cp_ok{ height:42px; padding-top:27px; overflow:hidden; width:100%; text-align:center; font-size:14px; color:#1b5a93;}
.sp_main .ok_k{ border:#5784ac 1px solid; background:#fff; width:164px; font-size:14px; height:28px; padding-left:8px; margin-right:20px;}
.sp_main .ok_al{ width:116px; height:39px; border:none; background:url(../images/blue/color1/al_bg2.png) no-repeat; font-size:16px; color:#fff; cursor:pointer; margin-right:5px;}
.sp_main .ok_al2{ width:116px; height:39px; border:none; background:url(../images/blue/color1/al_bg3.png) no-repeat; font-size:16px; color:#1b5a93; cursor:pointer;}
.sp_main .innerTd{background-color: #ffff00;}
.qxcadd_num{width: 1050px;height: 176px;background: url(../images/blue/blue_number.jpg) no-repeat;padding-top: 60px;margin-left: -25px;}
.qxcadd_num_zhushu,.qxcadd_num_jine{width: 135px;  height: 20px;  color: #5c5c5c;  font-size: 12px;  text-align: center;  float: left;  display: inline;}
.qxcnum_try {width: 1010px;  height: 125px;  clear: both;  margin: 0px auto 0;  padding-top: 10px;}
.qxcnum_try_text {  display: block;  width: 750px;  height: 118px;  border: 1px solid #9b9b9b;  background-color: #b3b3b3;  float: left;  display: inline;  padding: 0px;  margin: 0px;}
.qxcnum_try_btn_box {  width: 159px;  height: 125px;  float: left;  display: inline;  margin-left: 65px;}
.qxcnum_try_text_list {  width: 750px;  height: 88px;  overflow-y: scroll;  overflow-x: hidden; }
.qxcnum_try_text_list_s1 {  display: block;  width: 150px;  height: 30px;  color: #191919;  font-size: 12px;  line-height: 30px;  float: left;  display: inline;  text-indent: 13px;  }
.qxcnum_try_text_list_s2 {display: block;  width: 300px;  height: auto;  color: #191919;  font-size: 12px;  line-height: 30px;  float: left;  display: inline;  word-wrap: break-word;  }
.qxcnum_try_text_list_s3 {display: block;  width: 120px;  height: 30px;  color: #191919;  font-size: 12px;  line-height: 30px;  float: left;  display: inline;  }
.qxcnum_try_text_list_s4 {  display: block;  width: 120px;  height: 30px;  color: #191919;  font-size: 12px;  line-height: 30px;  float: left;  display: inline;  }
.num_title{background: #f4faff;}
.QXCbtn .btn{background: url(../images/blue/color1/blue-light.png) no-repeat;width: 80px;height: 30px;border: none}
.QXCbtn .btn_on{background: url(../images/blue/color1/blue-lighton.png) no-repeat;width: 80px;height: 30px;border: none;color: #fff}
.qxcOrder{width: 500px;max-height: 150px;overflow-y:scroll; }
.qxcOrder td{border: 1px solid grey;text-align: center;width: 32px}
.sumCaculate td{border-left: 1px solid grey;text-align: center;width: 32px}
.innertb2Tda{border-radius: 5px; border: 1px solid;}