<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->

<title>分公司列表 - 账户管理 </title>
</head>
<body>
<!--_header 作为公共模版分离出去-->

<!--/_menu 作为公共模版分离出去-->

	<nav class="breadcrumb"><a  class="maincolor"  href="{:url('index/welcome')}"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 
	<a   class="maincolor" href="{:url('notices/getNotice')}">公告管理</a>
	<a class="btn btn-success radius r" id=" btn-refresh"  style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20 ">
			<div class="cl pd-5 bg-1 bk-gray radius ">
			 <span class="l"> <a href="javascript:;" onclick="member_add('公告管理 >  添加公告','{:url("notices/addNotice")}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加公告</a></span> 
			 </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort radius ">
					<thead>
						<tr class="text-c">
						<th width="30">ID</th>
				           <th width="100">标题</th>
							<th width="150">内容</th>				      
							<th width="60">开始时间</th>
							<th width="60">到期时间</th>
							<th width="30">状态</th>
							<th width="60">创建时间</th>
           					<th width="80">操作</th>
						</tr>
					</thead>
					<tbody>

					{volist name="list" id="v"}
						<tr class="text-c ">
						  <td>{$v.n_id}</td>	
						    <td>{:substrb($v.n_title,20)}</td>																	
							<td>{:fliter_substrb($v.n_content,100)}</td>
							<td>{$v.n_start_time}</td>
							<td>{$v.n_end_time}</td>
							<td>        
                          {eq name="$v.n_status" value="1"}<span class="label  label-success radius"><b> 正常</b></span>{/eq}
							</td>
					   <td>{$v.n_add_time}</td>
             				<td class="td-manage">
							
							<a  class="maincolor"  title="修改公告" href="javascript:;" onclick="member_edit('公告管理 >  修改公告','{:url('notices/editNotice')}?n_id={$v.n_id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>修改</a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 <a  class="maincolor"  title="删除公告" href="javascript:;" onclick="member_del(this,'{$v.n_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>删除</a></td>
						</tr>
					{/volist}
					
					</tbody>
				</table>
			</div>
			{include file="page"}
		</article>
	</div>


<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript">
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}/*用户-添加*/

 function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
 }

/*用户-删除*/
 function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		var url="{:url('notices/delNotice')}";		
		$.get(url, {"n_id":id}, function(data){
         if(data['0']==true){       
         layer.msg('删除成功!',{icon:1,time:1000});
		setTimeout(function () {
			location.href="{:url('Notices/getNotice')}";
        },500);
         }else{
          layer.msg('删除失败!',{icon:2,time:2000});
         }
	     
		})
		
	});
 }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>