<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->

<title>添加用户 - 用户管理</title>
</head>
<body>
<article class="cl pd-20">
	<form action="{:url('user/editUser2')}" method="post" class="form form-horizontal" id="form-member-add">

		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>股东账号：</label>
			<div class="formControls col-xs-8 col-sm-8">
				<input type="text" class="input-text"   value="{$list.u_top_3}" readonly id="u_top_3" name="u_top_3">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>股东占成(%)：</label>
			<div class="formControls col-xs-8 col-sm-2">
				<input type="text" class="input-text"   value="{$list.u_proportion_3}" placeholder="" id="u_proportion_3" name="u_proportion_3">
				<input type="hidden"    value="{$list.u_proportion_3}" name="u_proportion_hidden3">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>自己占成(%)：</label>
			<div class="formControls col-xs-8 col-sm-2">
				<input type="text" class="input-text" value="{$list.u_proportion_2}" placeholder="" id="u_proportion_2" name="u_proportion_2">
				<input type="hidden"  value="{$list.u_proportion_2}" name="u_proportion_hidden2">
			</div>
		</div>
		<input type="hidden" name="u_id" value="{$list.u_id}"/>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>账号名：</label>
			<div class="formControls col-xs-8 col-sm-8">
				<input type="text" class="input-text" value="{$list.u_username}" placeholder="" readonly id="u_username" name="u_username">
				<input type="hidden"  value="{$list.u_username}"  name="u_top_2">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>输入密码：</label>
			<div class="formControls col-xs-8 col-sm-8">
				<input type="password" class="input-text" value="" placeholder="" id="u_pwd" name="u_pwd">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4">昵称：</label>
			<div class="formControls col-xs-8 col-sm-8">
				<input type="text" class="input-text" value="{$list.u_nick_name}" placeholder="" id="u_nick_name" name="u_nick_name">
			</div>
		</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>状态：</label>
			<div class="formControls col-xs-8 col-sm-8 skin-minimal">
				<div class="radio-box">
				<input type="hidden"  value="{$list.u_status}"  name="status">
					<input type="radio" id="u_status_8" name="u_status" value="8" {eq name="$list.u_status" value="8"}checked{/eq} />
					<label for="sex-1">正常</label>
				</div>
				<div class="radio-box">
					<input name="u_status" type="radio" id="u_status_0" value="1"  {eq name="$list.u_status" value="1"}checked{/eq} />
					<label for="sex-2">冻结</label>
				</div>
			</div>
		</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->
<!-- cookie 加密key-->
{include file='common/key'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			
            u_proportion_3:{
				required:true,
			},
            u_proportion_2:{
				required:true,
			},
            u_nick_name:{
                required:true,
                minlength:8
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
			    'type':'post',
                'url':"{:url('User/editUser2')}",
				'success':function(res,states){
                    var str = eval('('+res+')');
					if(str.data){
                        layer.msg('修改成功!',{icon:1,time:2000});
                        setTimeout(function(){
                          parent.location.replace(parent.location.href);
                        },1000);
					}else{
                        layer.msg(str.message,{icon:2,time:2000});
					}
				}
			});
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>