<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<!/meta 作为公共模版分离出去-->

<title> 账户管理 > 动态 -</title>
</head>
<body>
<nav class="breadcrumb"><a href="{:url('index/welcome')}"><i class="Hui-iconfont">&#xe67f;</i> 首页 </a><span class="c-gray en">&gt;</span> 账户管理 <span class="c-gray en">&gt;</span> 
       <a href="javascript:location.replace(location.href);">
                             {eq name="$level" value="4"}分公司{/eq}
							{eq name="$level" value="3"}股东{/eq}
							{eq name="$level" value="2"}总代{/eq}
							{eq name="$level" value="1"}代理{/eq}
							{eq name="$level" value="0"}会员{/eq}列表</a>	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
	<div class="text-c">
	  <form action="{:url('User/search')}" method="post">
		用户名：<input type="text" name="u_username" id="" value="{$post.u_username}" placeholder="用户名" style="width:100px" class="input-text radius ">
		
     <input type="hidden" name='u_level' value="{$level}">
     </input>
			&nbsp;	是否测试账号：
		<span class="select-box inline radius">
		<select name="u_is_test" class="select  ">
			<option value="" >请选择</option>
			<option value="1" {eq name="$post.u_is_test" value="1"}selected{/eq} >测试</option>
			<option value="0" {eq name="$post.u_is_test" value="0"}selected{/eq} >非测试</option>
		</select>
		</span>
		&nbsp;状态：
		<span class="select-box inline radius">
		<select name="u_status" class="select  ">
			<option value="">请选择</option>
			<option value="8" {eq name="$post.u_status" value="8"}selected{/eq} >正常</option>
			<option value="1" {eq name="$post.u_status" value="1"}selected{/eq} >冻结</option>
			<option value="0" {eq name="$post.u_status" value="0"}selected{/eq}>已删除</option>
		</select>
		</span>&nbsp;
		<button name=""  class="btn btn-success radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20 radius ">&nbsp;&nbsp;&nbsp;&nbsp;

			    <span class="2"> <a href="javascript:;" onclick="member_add('账户管理 >{eq name="$level" value="4"}分公司{/eq}
							{eq name="$level" value="3"}股东{/eq}
							{eq name="$level" value="2"}总代{/eq}
							{eq name="$level" value="1"}代理{/eq}
							{eq name="$level" value="0"}会员{/eq}列表 >添加{eq name="$level" value="4"}分公司{/eq}
							{eq name="$level" value="3"}股东{/eq}
							{eq name="$level" value="2"}总代{/eq}
							{eq name="$level" value="1"}代理{/eq}
							{eq name="$level" value="0"}会员{/eq}账号','{:url("User/addUser")}?level={$level}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>添加 
							{eq name="$level" value="4"}分公司{/eq}
							{eq name="$level" value="3"}股东{/eq}
							{eq name="$level" value="2"}总代{/eq}
							{eq name="$level" value="1"}代理{/eq}
							{eq name="$level" value="0"}会员{/eq}账号</a></span>
			 </div>


			<div class="mt-20 " >
		
				<table class="table table-border table-bordered table-hover table-bg table-sort radius"> 
					<thead>
					  
						<tr class="text-c ">
						<th width="40">ID</th>	
				           <th width="80">帐户名</th>
							<th width="50">是否在线</th>
				 			<th width="30">分公司</th>
							<th width="30">股东</th>
							<th width="30">总代理</th>
							<th width="30">代理</th>							
							<th width="40">股东人数</th>
							<th width="40">总代理人数</th>
							<th width="40">代理人数</th>
							<th width="40">会员人数</th>                 											
							<th width="60">最近登录IP</th>
                            <th width="60">最近登录时间</th>
                            <th width="50">是否测试账号</th>
							<th width="50">状态</th>
							<th width="80">操作</th>
						</tr>
					</thead>
					<tbody>
					{volist name="list" id="v"}
						 <tr class="text-c">
							<td >{$v.u_id}</td>							
							<td >{$v.u_username}</td>
							 <td >{:isOnline($v['u_username'])}</td>
							<td >{$v.u_proportion_4}%</td>												
							<td >{$v.u_proportion_3}%</td>
							<td >{$v.u_proportion_2}%</td>
							<td >{$v.u_proportion_1}%</td>						
							<td >{$v.u_count_3}</td>
							<td >{$v.u_count_2}</td>
							<td >{$v.u_count_1}</td>
							<td >{$v.u_count_0}</td>
							
						<!-- 	<td>代理</td><td>代理</td><td>代理</td> -->
       						<td >{$v.u_last_ip}</td>
							<td>{$v.u_last_time}</td>
							{eq name="$v.u_is_test" value="1"}<td>测试</td>{/eq}
							{eq name="$v.u_is_test" value="0"}<td>非测试</td>{/eq}
							{eq name="$v.u_status" value="0"}<td><span class="label  radius"><b>已删除</b></span></td>{/eq}
							{eq name="$v.u_status" value="1"}<td><span class="label  radius"><b>冻结</b></span></td>{/eq}		
							{eq name="$v.u_status" value="8"}<td><span class="label  label-success radius"><b>正常</b></span></td>{/eq}
							
					<td class="td-manage">
				 {neq name="$level" value="0"}	<a href="javascript:;" title="添加{eq name="$level-1" value="3"}股东{/eq}
							{eq name="$level-1" value="2"}总代{/eq}
							{eq name="$level-1" value="1"}代理{/eq}
							{eq name="$level-1" value="0"}会员{/eq}" onclick="member_add('账户管理  > 添加{eq name="$level-1" value="3"}股东{/eq}
							{eq name="$level-1" value="2"}总代{/eq}
							{eq name="$level-1" value="1"}代理{/eq}
							{eq name="$level-1" value="0"}会员{/eq}','{:url("user/addUser")}?u_username={$v.u_username}&level={$level-1}','','510')" <i class="Hui-iconfont">&#xe610;</i> 添加{eq name="$level-1" value="3"}股东{/eq}
							{eq name="$level-1" value="2"}总代{/eq}
							{eq name="$level-1" value="1"}代理{/eq}
							{eq name="$level-1" value="0"}会员{/eq}</a>
						&nbsp;&nbsp;
                 {/neq}
						<a title="修改" href="javascript:;" onclick="member_edit('修改','{:url("user/editUser")}?u_id={$v.u_id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>修改</a> &nbsp;&nbsp;&nbsp;

					</td>
			   </tr>
					{/volist}
					</tbody>
				</table>
				<!-- 分页start-->
				{include file="page"}
				<!-- 分页end-->
			</div>
		</article>
	</div>
<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->
<!-- cookie 加密key-->
{include file='common/key'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		 "aLengthMenu":[50],
	});
	
});
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
 function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
 }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>