<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->
<title> 账户管理 > 股东列表 </title>
</head>
<body>

<nav class="breadcrumb"><a href="{:url('index/welcome')}" class="maincolor"><i class="Hui-iconfont">&#xe67f;</i> 首页 </a>
	<span class="c-gray en">&gt;</span> 账户管理

	{notempty name="$post.u_top_4"}
	<span class="c-gray en">&gt;</span><a href="{:url('User/getUser4')}" class="maincolor">分公司列表【{$post.u_top_4}】</a>
	{/notempty}

	<span class="c-gray en">&gt;</span><a href="javascript:location.replace(location.href);" class="maincolor">股东列表</a>
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="Hui-article">
	<article class="cl pd-20">
		<div class="text-c">
			<form action="{:url('User/getUser3')}" method="post">
				用户名：<input type="text" name="u_username" id="" value="{$post.u_username}" placeholder="用户名" style="width:250px" class="input-text radius ">
				<input type="hidden" name='u_level' value="{$post.u_level}">
				<input type="hidden" name="u_top_4" value="{$post.u_top_4}">
				</input>
				&nbsp;状态：
				<span class="select-box inline radius">
		<select name="u_status" class="select  ">
			<option value="">请选择</option>
			<option value="8" {eq name="$post.u_status" value="8"}selected{/eq} >正常</option>
			<option value="1" {eq name="$post.u_status" value="1"}selected{/eq} >冻结</option>
		</select>
		</span>&nbsp;
				<button name=""  class="btn btn-success radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</form>
		</div>
		{if condition="session('level') eq '4'"}
		<div class="cl pd-5 bg-1 bk-gray mt-20 radius ">&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="2"> <a   href="javascript:;" onclick="member_add('账户管理>添加股东账号','{:url("user/addUser3")}?u_id={$Think.session.u_id}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>添加股东账号</a></span>
		</div>
		{/if}
		<div class="mt-20 " >
			<table class="table table-border table-bordered table-hover table-bg table-sort radius">
				<thead>

				<tr class="text-c ">
					<th width="40">ID</th>
					<th width="30">是否在线</th>
					<th width="100">帐户名/股东</th>
					{if condition="session('level') eq '5'"}<th width="30">总公司</th>{/if}
					<th width="30">分公司</th>
					<th width="30">股东</th>
					<th width="5">总代理</th>
					<th width="5">代理</th>
					<th width="40">总代理人数</th>
					<th width="40">代理人数</th>
					<th width="40">会员人数</th>
					<th width="60">最近登录IP</th>
					<th width="60">最近登录时间</th>
					<th width="20">是否测试账号</th>
					<th width="20">状态</th>
					<th width="15">占余归</th>
					<th width="70">操作</th>
				</tr>
				</thead>
				<tbody>
				{volist name="list" id="v"}
				<tr class="text-c">
					<td >{$v.u_id}</td>
					<td>{if empty($v['isOnline'])}<span class="label label-error radius"><b>离线</b></span>{else/}<span class="label  label-success radius"><b>在线</b></span>{/if}</td>

					<td ><a class="maincolor" href="{:url('User/getUser2')}?u_username={$v.u_username}
                           {notempty name='$post.u_top_4'}&u_top_4={$post.u_top_4} {/notempty}">{$v.u_username}</a></td>

					{if condition="session('level') eq '5'"}<td >{$v.u_proportion_5}%</td>{/if}
					<td >{$v.u_proportion_4}%</td>
					<td >{$v.u_proportion_3}%</td>
					<td >{$v.u_proportion_2}%</td>
					<td >{$v.u_proportion_1}%</td>
					<td >{$v.u_count_2}</td>
					<td >{$v.u_count_1}</td>
					<td >{$v.u_count_0}</td>
					<td >{$v.u_last_ip}</td>
					<td>{$v.u_last_time}</td>
					<td>
						{eq name="$v.u_is_test" value="2"}<span class="label  label-error radius"><b>测试</b></span>{/eq}
						{eq name="$v.u_is_test" value="1"}<span class="label  label-success radius"><b>正式</b></span>{/eq}
					</td>
					<td>
						{eq name="$v.u_status" value="0"}<span class="label  label-error radius"><b>已删除</b></span>{/eq}
						{eq name="$v.u_status" value="1"}<span class="label  label-error radius"><b>冻结</b></span>{/eq}
						{eq name="$v.u_status" value="8"}<span class="label  label-success radius"><b>正常</b></span>{/eq}
					</td>
					<td>
						{eq name="$v.u_own_level" value="5"}总{/eq}
						{eq name="$v.u_own_level" value="4"}分{/eq}
					</td>
					<td class="td-manage">
						<a class="maincolor" href="javascript:;" title="添加总代" onclick="member_add('账户管理  > 添加总代','{:url("user/addUser2")}?u_id={$v.u_id}','','510')" ><i class="Hui-iconfont">&#xe610;</i> 添加总代</a>&nbsp;&nbsp;
						<a title="修改 " class="maincolor" href="javascript:;" onclick="member_edit('账户管理  > 股东修改','{:url("user/editUser3")}?u_id={$v.u_id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>修改</a> &nbsp;&nbsp;&nbsp;
					</td>
				</tr>
				{/volist}
				</tbody>
			</table>
			<!-- 分页start-->
			{include file="page"}
			<!-- 分页end-->
		</div>
	</article>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->
<!-- cookie 加密key-->
{include file='common/key'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>