<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->

<title>历史开奖 </title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<!--/_menu 作为公共模版分离出去-->
<nav class="breadcrumb"><a class="maincolor" href="{:url('index/welcome')}"><i class="Hui-iconfont">&#xe67f;</i> 首页</a> <span class="c-gray en">&gt;</span> 开奖管理 <span class="c-gray en">&gt;</span> <a class="maincolor" href="{:url('drawhistory/getdrawhistory')}">历史开奖</a><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="Hui-article">
	<article class="cl pd-20">
		<!-- <div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">
     <span class="2">  {foreach name="lottery" item="vo" }
       {eq name="$id" value="$key"}
        <a  href="javascript:;" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe68c;</i>{$vo} </a> {/eq}
         {neq name="$id" value="$key"}
        <a  href="{:url('Drawhistory/getDrawhistory')}?id={$key}" class="btn btn-danger-outline radius"><i class="Hui-iconfont">&#xe68c;</i>{$vo} </a>
         {/neq}
         {/foreach}
    </span>
         </div> -->
		<div class="tabBar cl">
			{volist name="lottery" id="v"}
			<a href="{:url('Drawhistory/getDrawhistory')}?id={$key}"> <span {if condition="$id eq $key"} class="current"{/if}>{$v}</span></a>
			{/volist}
		</div>
		<div class="mt-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
					<tr class="text-c">
						<th width="80">奖期</th>
						<th width="100">开奖号码</th>
						<th width="80">开奖时间</th>

					</tr>
					</thead>
					<tbody>

					{foreach name='list' item='v'}
					<tr class="text-c">
						<td>{$v.ds_qishu}</td>
						<td>{$v.ds_balls}</td>
						<td>{$v.ds_time}</td>
					</tr>
					{/foreach}
				</table>
			</div>
			{include file="page"}
	</article>
</div>


<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>