<!--_meta 作为公共模版分离出去-->
{include file="common/_meta"}
<!--/meta 作为公共模版分离出去-->
<title>盘口管理 </title>
</head>
<body>
<!--_header 作为公共模版分离出去-->

<!--/_menu 作为公共模版分离出去-->

<nav class="breadcrumb"><a class="maincolor"  href="{:url('index/welcome')}"><i class="Hui-iconfont">&#xe67f;</i> 首页</a> <span class="c-gray en">&gt;</span> 开奖管理 <span class="c-gray en">&gt;</span> <a class="maincolor" href="{:url('drawhistory/getIssues')}">盘口管理</a><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="Hui-article">
	<article class="cl pd-20">
		<span class="2">
		<a href="{:url('Drawhistory/pankouAdd')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>新增盘口</a><br>
		</span>
		<!-- 	<div class="cl pd-5 bg-1 bk-gray mt-20">
			 	 <span class="2">  {foreach name="lottery" item="vo" }
           {eq name="$id" value="$key"}
            <a  href="javascript:;" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe68c;</i>{$vo} </a> {/eq}
             {neq name="$id" value="$key"}
			<a  href="{:url('Drawhistory/getIssues')}?id={$key}" class="btn btn-danger-outline radius"><i class="Hui-iconfont">&#xe68c;</i>{$vo} </a>
             {/neq}
			 {/foreach}

		</span>
			 </div> -->
		<div class="mt-20" >
			<div class="tabBar cl">
				{volist name="lottery" id="v"}
				<a href="{:url('Drawhistory/getIssues')}?id={$key}"> <span {if condition="$id eq $key"} class="current"{/if}>{$v}</span></a>
				{/volist}
			</div>
		</div>
		<div class="mt-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
					<tr class="text-c">
						<th width="50">期数</th>
						<th width="70">开盘时间</th>
						<th width="70">封盘时间</th>
						<th width="70">开奖时间</th>
						<th width="100">开奖号码</th>
						<th width="40">盘口状态</th>
						<th width="30">日志</th>
						<th width="80">操作</th>
					</tr>
					</thead>
					<tbody>
					{foreach name='list' item='v'}
					<tr class="text-c" style="height: 27px;">
						<td>{$v.ds_qishu}</td>
						<td>{$v.ds_time_open}</td>
						<td>{$v.ds_time_stop}</td>
						<td>{$v.ds_time_draw}</td>
						<td>{$v.ds_balls}</td>

						{eq name="$v.ds_state" value="0"}<td><span class="label  label-error radius"><b>未开盘</b></span></td>{/eq}
						{eq name="$v.ds_state" value="1"}<td><span class="btn btn-secondary radius size-MINI"><b>开盘中</b></span></td>{/eq}
						{eq name="$v.ds_state" value="2"}<td><span class="btn btn-danger radius size-MINI"><b>已封盘</b></span></td>{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="1"}
						{eq name="$v.ds_is_pay" value="1"}
						<td><span class="label  label-success radius"><b>已开奖</b></span></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="0"}
						{eq name="$v.ds_is_pay" value="0"}
						<td><span class="btn btn-danger radius size-MINI"><b>等待结算</b></span></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="1"}
						{eq name="$v.ds_is_pay" value="0"}
						<td><span class="btn btn-danger radius size-MINI"><b>等待派奖</b></span></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="0"}
						{eq name="$v.ds_is_pay" value="1"}
						<td><span class="btn btn-danger radius size-MINI"><b>盘口状态出错</b></span></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="251"}<td><span class="btn btn-primary radius size-MINI"><b>已撤销</b></span></td>{/eq}
						{eq name="$v.ds_state" value="252"}<td><span class="btn btn-warning radius size-MINI"><b>撤销中</b></span></td>{/eq}
						{eq name="$v.ds_state" value="253"}<td><span class="btn btn-warning radius size-MINI"><b>回滚中</b></span></td>{/eq}
						{eq name="$v.ds_state" value="254"}<td><span class="btn btn-warning radius size-MINI"><b>结算中</b></span></td>{/eq}
						{eq name="$v.ds_state" value="255"}<td><span class="btn btn-warning radius size-MINI"><b>派彩中</b></span></td>{/eq}

						<td><a class="maincolor" href="{:url('Drawhistory/logs')}?qishu={$v.ds_qishu}&id={$v.ds_lid}">查看</a></td>

						{eq name="$v.ds_state" value="1"}
						<td><a class="maincolor" href="{:url('Drawhistory/fenpan')}?lid={$id}&qishu={$v.ds_qishu}&state=2" title="将当前期执行封盘操作！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n将当前期执行封盘操作！\n\n此操作存在风险，您是否确定执行？')">封盘</a></td>
						{/eq}

						{eq name="$v.ds_state" value="2"}
						{eq name="$v.ds_is_result" value="0"}
						<td>
							<a class="maincolor" href="javascript:;" onclick="member_add('盘口管理 >  开奖','{:url('Drawhistory/kaijiang')}?lid={$id}&qishu={$v.ds_qishu}','','510')"  title="对当前期数写入开奖号码！">开奖</a>
							<a class="maincolor" href="{:url('Drawhistory/chexiao')}?lid={$id}&qishu={$v.ds_qishu}" title="撤销当前期数投注退还本金，此操作不可逆转！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n撤销当前期数投注退还本金，此操作不可逆转！\n\n此操作存在风险，您是否确定执行？')" >撤销</a>
						</td>
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="1"}
						{eq name="$v.ds_is_pay" value="1"}
						<td><a class="maincolor" href="{:url('Drawhistory/huigun')}?lid={$id}&qishu={$v.ds_qishu}" title="将该期所有注单恢复到未结算状态并扣回已派出的金额！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n将该期所有注单恢复到未结算状态并扣回已派出的金额！\n\n此操作存在风险，您是否确定执行？')">回滚</a></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="0"}
						{eq name="$v.ds_is_pay" value="0"}
						<td><a class="maincolor" href="{:url('Drawhistory/jiesuan')}?lid={$id}&qishu={$v.ds_qishu}" title="对注单进行结算不如帐！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n此彩种对本期所有注单进行结算不如帐！！\n\n此操作存在风险，您是否确定执行？')">结算</a></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="1"}
						{eq name="$v.ds_is_pay" value="0"}
						<td><a class="maincolor" href="{:url('Drawhistory/paijiang')}?lid={$id}&qishu={$v.ds_qishu}" title="此彩种对本期所有注单进行派奖！！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n此彩种对本期所有注单进行派奖！！\n\n此操作存在风险，您是否确定执行？')">派奖</a></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="3"}
						{eq name="$v.ds_is_finish" value="0"}
						{eq name="$v.ds_is_pay" value="1"}
						<td><span class="btn btn-danger radius size-MINI"><b>盘口状态出错</b></span></td>
						{/eq}
						{/eq}
						{/eq}

						{eq name="$v.ds_state" value="0"}<td><a class="maincolor" href="{:url('Drawhistory/kaipan')}?lid={$id}&qishu={$v.ds_qishu}&state=1" title="将当前期执行开盘操作！" onclick=" return confirm('\n第{$v.ds_qishu}期\n\n将当前期执行开盘操作！\n\n此操作存在风险，您是否确定执行？')">开盘</a></td>{/eq}

						{eq name="$v.ds_state" value="251"}<td>已撤销</td>{/eq}
						{eq name="$v.ds_state" value="252"}<td>撤销等待中...</td>{/eq}
						{eq name="$v.ds_state" value="253"}<td>回滚等待中...</td>{/eq}
						{eq name="$v.ds_state" value="254"}<td>结算等待中...</td>{/eq}
						{eq name="$v.ds_state" value="255"}<td>派彩等待中...</td>{/eq}
					</tr>
					{/foreach}
					</tbody>
				</table>
			</div>{include file="page"}
	</article>
</div>


<!--_footer 作为公共模版分离出去-->
{include file="common/_footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/lib/datatables/1.10.0/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>