<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		{foreach name="menu" item="vo" key="ke" }
		{foreach name="vo" item="v" key="k" }
		<dl id="menu-article"> {eq name="v.menu_id" value="$v.parent_id"}
			{empty name='v.url' }
			<dt>{eq name="v.menu_id" value="2"}
				<i class="Hui-iconfont">&#xe60d;</i>
				{/eq}
				{eq name="v.menu_id" value="1"}
				<i class="Hui-iconfont">&#xe616;</i>
				{/eq}
				{eq name="v.menu_id" value="21"}
				<i class="Hui-iconfont">&#xe613;</i>
				{/eq}
				{eq name="v.menu_id" value="34"}
				<i class="Hui-iconfont">&#xe6bf;</i>
				{/eq}
				{eq name="v.menu_id" value="42"}
				<i class="Hui-iconfont">&#xe692;</i>
				{/eq}
				{eq name="v.menu_id" value="46"}
				<i class="Hui-iconfont">&#xe623;</i>
				{/eq}
				{eq name="v.menu_id" value="49"}
				<i class="Hui-iconfont">&#xe623;</i>
				{/eq}
				{$v['title']}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
				{else/}
			<dt><a href="{:url($v.url)}" target="iframeone" title="{$v.title}" >

				{eq name="v.menu_id" value="2"}
				<i class="Hui-iconfont">&#xe60d;</i>
				{/eq}
				{eq name="v.menu_id" value="1"}
				<i class="Hui-iconfont">&#xe616;</i>
				{/eq}
				{eq name="v.menu_id" value="21"}
				<i class="Hui-iconfont">&#xe613;</i>
				{/eq}
				{eq name="v.menu_id" value="34"}
				<i class="Hui-iconfont">&#xe6bf;</i>
				{/eq}
				{eq name="v.menu_id" value="42"}
				<i class="Hui-iconfont">&#xe692;</i>
				{/eq}
				{eq name="v.menu_id" value="46"}
				<i class="Hui-iconfont">&#xe623;</i>
				{/eq}
				{eq name="v.menu_id" value="49"}
				<i class="Hui-iconfont">&#xe623;</i>
				{/eq}

				{$v['title']}</a></dt>
			{/empty}

			{/eq}

			<dd>
				{foreach name="vo" item="v" key="k" }
				{neq name="v.menu_id" value="$v.parent_id"}
				<ul>
					<li style="background-color:#fff;" class="_change" ><a href="{:url($v.url)}" title="{$v.title}" target="iframeone">{$v.title}</a></li>
				</ul>
				{/neq}
				{/foreach}
			</dd>
		</dl>
		{/foreach}
		{/foreach}

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<script type="text/javascript">
 $(function(){
       $('._change').click(function () {
               $("._change").css("background-color","#fff");
               $(this).css("background-color","#b7e3f5");
       });
 });

</script>