<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<nav class="breadcrumb"><a  class="maincolor" href="{url('index/welcome')}"><i class="Hui-iconfont">&#xe67f;</i> 首页  </a><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用KG官方彩 <span class="f-14"></span>后台管理系统！</p>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">登录信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>上次登录IP：</td>
				<td>{if condition="empty($user['u_last_ip'])"}第一次登录{else/}{$user.u_last_ip}{/if}</td>
			</tr>
			<tr>
				<td>上次登录时间：</td>
				<td>{if condition="empty($user['u_last_time'])"}第一次登录{else/}{$user.u_last_time}{/if}</td>
			</tr>
			<tr>
				<td>本次登录IP：</td>
				<td>{$ip}</td>
			</tr>
			<tr>
				<td>本次登录时间：</td>
				<td>{$now}</td>
			</tr>

		</tbody>
	</table>
</div>
<footer class="footer mt-20">

</footer>
<script type="text/javascript" src="../../static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="../../static/static/h-ui/js/H-ui.min.js"></script>
</body>
</html>